.container {
  width: rem(1400);
  padding: 0 rem(20);
  margin-left: auto;
  margin-right: auto;
  position: relative;
  &--medium {
    width: rem(1240);
  }
  @include bp(tablet) {
    width: 700px;
  }
}
