.main_section{
  width: 100%;
  height: 100%;
  header{
    height: rem(100);
  }
  & .content{
    
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    & .list{
      display: grid;
      grid-template-columns: repeat(4 , 1fr);
      gap: rem(20);

      
    }
  }
}